<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">

    <br><br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

      <div class="mb-3"><label for="title">Title</label>
      <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
      <div class="invalid-feedback">Title Should Be valid</div>
      </div>


      <div class="mb-3">
        <label for="description">Description</label>
        <textarea
        name="listing[description]" class="form-control" required
      ></textarea>
      <div class="invalid-feedback">Short Description Required</div>
      </div>


      <div class="mb-3">
        <label for="image">Upload Image</label>
          <input
          name="listing[image]"
          type="file" class="form-control" required
        />
      </div>

      <!-- CHANGE -->
       <!-- Category Section -->
<div>
  <label for="category" class="form-label">Choose Category</label>
  <div class="category-choose"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Local Grounds" name="listing[category]" value="Local Grounds" required>
        <label class="form-check-label d-flex align-items-center" for="Local Grounds">
          <i class="fa-solid fa-map-location-dot me-2"></i> Local Grounds
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Indoor Arenas" name="listing[category]" value="Indoor Arenas" required>
        <label class="form-check-label d-flex align-items-center" for="Indoor Arenas">
          <i class="fa-solid fa-building me-2"></i> Indoor Arenas
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Coaching grounds" name="listing[category]" value="Coaching grounds" required>
        <label class="form-check-label d-flex align-items-center" for="Coaching grounds">
          <i class="fa-solid fa-chalkboard-user me-2"></i> Coaching grounds
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Amateur Leagues" name="listing[category]" value="Amateur Leagues" required>
        <label class="form-check-label d-flex align-items-center" for="Amateur Leagues">
          <i class="fa-solid fa-people-group me-2"></i> Amateur Leagues
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Tournament grounds" name="listing[category]" value="Tournament grounds" required>
        <label class="form-check-label d-flex align-items-center" for="Tournament grounds">
          <i class="fa-solid fa-trophy me-2"></i> Tournament grounds
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Turf Grounds" name="listing[category]" value="Turf Grounds" required>
        <label class="form-check-label d-flex align-items-center" for="Turf Grounds">
          <i class="fa-solid fa-baseball-bat-ball"></i> Turf Grounds
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Astro Turf" name="listing[category]" value="Astro Turf" required>
        <label class="form-check-label d-flex align-items-center" for="Astro Turf">
          <i class="fa-solid fa-campground me-2"></i> Astro Turf
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Backyard" name="listing[category]" value="Backyard" required>
        <label class="form-check-label d-flex align-items-center" for="Backyard">
          <i class="fa-solid fa-house me-2"></i> Backyard
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Night Cricket" name="listing[category]" value="Night Cricket" required>
        <label class="form-check-label d-flex align-items-center" for="Night Cricket">
          <i class="fa-solid fa-moon me-2"></i> Night Cricket
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" id="Beach Cricket" name="listing[category]" value="Beach Cricket" required>
        <label class="form-check-label d-flex align-items-center" for="Beach Cricket">
          <i class="fa-solid fa-umbrella-beach me-2"></i> Beach Cricket
        </label>
      </div>
    </div>
  </div>
  <div class="invalid-feedback">Choose Category</div>
</div>


      <!-- CHANGE END -->



      <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price">Price</label>
          <input name="listing[price]" placeholder="1500" type="number" class="form-control" required/>
          <div class="invalid-feedback">Price Should Be valid</div>
      </div>
      
      <div class="mb-3 col-md-8">
        <label for="country">Country</label>
        <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
        <div class="invalid-feedback">Country Should Be valid</div>
      </div></div>
      

      <div class="mb-3">
        <label for="location">Location</label>
        <input
        name="listing[location]"
        placeholder="Jaipur, Rajasthan"
        type="text" class="form-control" required
      />
      <div class="invalid-feedback">Location Should Be valid</div>
      </div>

      
      <button class="btn btn-dark add-btn">Add</button>
      <br><br><br>
    </form>
</div></div>